body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3bebe;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c6d6d;
    padding: 15px 0;
    text-align: center;
    transition: background-color 0.5s;
    z-index: 1000;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0 10px;
    transition: color 0.5s;
    display: inline-block;
}

#navbar a:hover {
    color: #ffcc00; 
}

#header {
    background-color: #13504d;
    color: white;
    text-align: center;
    padding: 80px 0;
}

#registration-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #f8efef;
    border-radius: 5px;
    background-color: #f3d6d6;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a19f9f;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #045ca3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(11, 65, 11);
}

#content {
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #navbar a {
        display: block;
        margin: 10px 0;
    }
}
